<footer class="page-footer">
  <div class="footer-container">
    <div class="row">
     <a class="about-link" href="#!">ABOUT</a>
     <a class="user-link" href="#!">USER LIST</a>
     <a class="support-link" href="#!">SUPPORT</a>
    </div>
    <div class="footer-copyright">
  <div class="copyright-container">
    <a class="copyright">© Copyright 2016, Srum*tious, Inc. All rights reserved.</a>
    </div>
  </div>
</footer>
