<meta charset="utf-8">

<title>Virtual Standup</title>
<meta name="description" content="A template app for building Express/Mongoose.">

<link rel="stylesheet" type="text/css" href="/css/main.css">
<script src="https://code.jquery.com/jquery-2.2.1.js" integrity="sha256-eNcUzO3jsv0XlJLveFEkbB8bA7/CroNpNVk3XpmnwHc=" crossorigin="anonymous"></script>
<script src="https://api.trello.com/1/client.js?key=<%= process.env.CID %>"></script>
