<meta charset="utf-8">

<title>Scrum*tious</title>
<meta name="Scrum*tious" content="An Online Scrum App.">


<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.6.1/lodash.js"></script>
<script src="https://code.jquery.com/jquery-2.2.1.js" integrity="sha256-eNcUzO3jsv0XlJLveFEkbB8bA7/CroNpNVk3XpmnwHc=" crossorigin="anonymous"></script>

<script src="/js/lib/async.js"></script>
<script src="/js/lib/materialize.js"></script>

<script src="https://api.trello.com/1/client.js?key=<$= process.env.CID $>"></script>

<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link type="text/css" rel="stylesheet" href="/css/materialize.css"  media="screen,projection"/>
<link rel="stylesheet" type="text/css" href="/css/main.css">
