<!-- Modal Trigger -->
<a class="waves-effect waves-light btn modal-trigger" href="#member-form">My Reports</a>

<!-- Modal Structure -->
<div id="member-form" class="modal">
  <div class="modal-content">

    <div class="form">
      <form class="col s8">

        <section id="lists-menu" class="lists-menu">
         <h5 id="this">Pick a card, any card.</h5>
        </section>
        <br>
        <div class="input-field col s6">
          <input id="current" type="text" placeholder="Not working on a card? Type it here." wrap="hard" class="materialize-textarea" data-cid="" value="">
          <label for="current">Current</label>
        </div>


        <div class="input-field col s6">
          <input id="challenges" type="text" placeholder="What is troubling yas?" wrap="hard" class="materialize-textarea validate">
          <label for="challenges">Challenges</label>
        </div>

        <div class="input-field col s6">
          <input id="outlook" type="text" placeholder="What are you excited about?!" wrap="hard" class="materialize-textarea validate">
          <label for="outlook">Outlook</label>
        </div>
      </form>
    </div>

    <button href="#!" class="btn waves-effect waves-light deep-orange" type="submit" name="action">Submit
      <i class="material-icons right">send</i>
    </button>

  </div>
</div>
