*,
html,
body {
  box-sizing: border-box;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
}

body {
  font-size: 14px;
  width: 100%;
}

a { color: #00B7FF; }

.brand-logo {margin-left: 40px;}

.log-in {margin-right: 40px;}

.nav-wrapper {background: #00BCD4;}

.header {text-align: center;}

.description {text-align: center;}

.footer-content {color: white;}

.links {color: white;}

.about-link {
   color: white;
   padding-right: 20px;
   padding-left: 20px;
}

.user-link {
   color: white;
   padding-right: 20px;
   padding-left: 20px;
}

.support-link {
   color: white;
   padding-right: 20px;
   padding-left: 20px;
}

.page-footer {background: #0097A7;}

.footer-container {background: #0097A7;}

.footer-copyright {background: #00BCD4;}

.copyright-container {background: #00BCD4;}

.copyright {
   color: white;
   text-align: center;
}

.row {
   text-align: center;
   padding: 10px;
}

.description {
   font-family: Open Sans;
   color: #727272;
   font-size: 20px;
   display: inline;
   margin-left: 80px;
   margin-right: 80px;
   width: fit-content;
}

.header {
   color: #FF5722;
}

img {
  width: 2120px;
  height: 1280px;
}

.img {width: fit-content; margin: 0px auto;}




/* Palette generated by Material Palette - materialpalette.com/cyan/light-blue */

/*.dark-primary-color    { background: #0097A7; }
.default-primary-color { background: #00BCD4; }
.light-primary-color   { background: #B2EBF2; }
.text-primary-color    { color: #FFFFFF; }
.accent-color          { background: #03A9F4; }
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: #727272; }
.divider-color         { border-color: #B6B6B6; }*/
