<!DOCTYPE html>
<html>
<head>
  <%- include('../partials/head') %>
</head>
<body>
  <%- include('../partials/header', {subHeading: 'Welcome'}) %>

  <main>
<h1> You've been dashed, sick burn </h1>

<ul class="drop-down" id="board-list">
  Here are your boards:
 <!-- template goes here for each board -->
</ul>
  </main>

  <%- include('../partials/scripts') %>
</body>
</html>
