<!DOCTYPE html>
<html>
<head>
  <$- include('../partials/head') $>
</head>
  <$- include('../partials/header', {subHeading: 'Dashboard', user: user}) $>
 <body>
    <main data-uid="<$= user._id $>" data-trello-id="<$= user.trelloId $>" data-trello-token="<$= token $>" data-trello-secret="<$= secret $>">

      <div class="right">
        <ul class="drop-down" id="board-list">
         <!-- template goes here for each board -->
         <!-- Dropdown Trigger -->
        <a class='dropdown-button waves-effect waves-light btn' href='#' data-activates='dropdown1'>Create New Team</a>
        <!-- Dropdown Structure -->
        <ul id='dropdown1' class='dropdown-content'>
          <!-- Template Insertion Point -->
        </ul>
      </div>


      <h4 class="">My Current Teams</h4>
      <div id="teams-list" class="row">
        <!-- teams template here -->
      </div>

    </main>
    <$- include('../partials/scripts') $>
    <script src='/js/dashboard.js'></script>
    <script src='/js/teams.js'></script>
  </body>
<$- include('../partials/footer') $>
</html>
