 <!DOCTYPE html>
<html>
<head>
  <$- include('../partials/head') $>
</head>
<body>
  <$- include('../partials/header', {subHeading: 'Team Standup', user: user}) $>

  <main data-uid="<$= user.trello_bid $>" data-trello-id="<$= user.trelloId $>" data-trello-token="<$= token $>" data-trello-secret="<$= secret $>">
    <h1 id="<$= team.trello_bid $>"><$= team.title $></h1>
  </main>

  <$- include('../partials/reportsform') $>
  <$- include('../partials/scripts') $>

  <script src='/js/teams.js'></script>
</body>
</html>
