 <!DOCTYPE html>
<html>
<head>
  <$- include('../partials/head') $>
</head>
<body>
  <$- include('../partials/header', {subHeading: 'Team Standup', user: user}) $>

  <main data-uid="<$= user.trelloId $>" data-trello-id="<$= user.trelloId $>" data-trello-token="<$= token $>" data-trello-secret="<$= secret $>">
    <h1 id="<$= team.trello_bid $>"><$= team.title $></h1>

    <div class="row" id="members-list">
      <!-- <div class="col s4">
        <div class="card medium hoverable">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="images/office.jpg">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Member Name<i class="material-icons right">more_vert</i></span>
            <p><a href="#">Trello Profile</a></p>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Member Name<i class="material-icons right">close</i></span>
            <ul class="collapsible popout" data-collapsible="accordion">
              <li>
                <div class="collapsible-header"><i class="material-icons">place</i>Current</div>
                <div class="collapsible-body container">

                  <span>
                    <input id="current" type="text" placeholder="Not working on a card? Type it here." data-cid="" value="">
                  </span>

                </div>
              </li>
              <li>
                <div class="collapsible-header"><i class="material-icons">whatshot</i>Challenges</div>
                <div class="collapsible-body container">

                  <span>
                    <input id="challenges" type="text" placeholder="What is troubling yas?" class="validate">
                  </span>

                </div>
              </li>
              <li>
                <div class="collapsible-header"><i class="material-icons">filter-drama</i>Outlook</div>
                <div class="collapsible-body container">

                  <span>
                    <input id="outlook" type="text" placeholder="What are you excited about?!" class="validate">
                  </span>

                </div>
              </li>
              <textarea id="textarea1" placeholder="Got something to say?" class="materialize-textarea"></textarea>
            </ul>
          </div>
        </div>
      </div> -->
    </div>



  </main>

  <$- include('../partials/reportsform') $>
  <$- include('../partials/scripts') $>
  <script src='/js/teams.js'></script>

</body>
</html>
