<!DOCTYPE html>
<html>
<head>
  <$- include('../partials/head') $>
</head>

<header>
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">SCRUM*TIOUS</a>
      <a href="#" data-activates="mobile-nav" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right">
        <$ if (user) { $>
          <li><a href="/logout">Logout</a></li>
        <$ } else { $>
          <li><a href="/auth/trello">Login</a></li>
        <$ } $>
      </ul>
    </div>
  </nav>
</header>

<body>

<div class="parallax-container">
  <div class="parallax"><img id="main-parallax-img" src="images/welcome_bg.png"></div>
</div>
  <div class="section white">
    <div class="row-container">
      <h2 class="header">SCRUM*TIOUS</h2>
      <div class="description flow-text">A WAY TO
         CONNECT WITH TEAM MEMBERS AND MANAGE AGILE
         WORKFLOW <br> REMOTELY WITHOUT FALLING OUT OF TOUCH WITH
         YOUR TEAM</p>
      </div>
    </div>
   </div>
  <div class="parallax-container">
<div class="parallax"><img id="main-parallax-img" src="images/welcome_bg.png"></div>
</div>

</body>

<$- include('../partials/footer') $>

</html>
