<!DOCTYPE html>
<html>
<head>
  <%- include('../partials/head') %>
</head>

<%- include('../partials/header', {subHeading: 'Welcome'}) %>

<body>

<div class="parallax-container">
  <div class="parallax"><img src="images/welcome_bg.png"></div>
</div>
  <div class="section white">
    <div class="row container">
      <h2 class="header">SCRUM*TIOUS</h2>
      <div class="description">A WAY TO
         CONNECT WITH TEAM MEMBERS AND MANAGE AGILE
         WORKFLOW REMOTELY WITHOUT FALLING OUT OF TOUCH WITH
         YOUR TEAM</p>
      </div>
    </div>
   </div>
  <div class="parallax-container">
<div class="parallax"><img src="images/welcome_bg.png"></div>
</div>

</body>

<footer class="page-footer">
  <div class="footer-container">
    <div class="row">
     <a class="about-link" href="#!">ABOUT</a>
     <a class="user-link" href="#!">USER LIST</a>
     <a class="support-link" href="#!">SUPPORT</a>
    </div>
    <div class="footer-copyright">
  <div class="copyright-container">
    <a class="copyright">© Copyright 2016, Srum*tious, Inc. All rights reserved.</a>
    </div>
  </div>
</footer>

</html>
